root = true

[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{xml,config,settings,json,yml,yaml,njk}]
indent_style = space
indent_size = 2

[*.sh]
end_of_line = lf
